asgiref==3.6.0
Django==4.1.7
environs==9.5.0
marshmallow==3.19.0
packaging==23.0
psycopg2-binary==2.9.9
pyaes==1.6.1
pyasn1==0.4.8
python-dotenv==1.0.0
rsa==4.9
sqlparse==0.4.3
Telethon==1.33.1
tzdata==2022.7
